
div{width: 100px;
	height: 100px;
	
}
span{font-family: impact;
text-transform: uppercase;
}

.uno{
	background-color: #58D3F7
}
.uno a{color:#58D3F7 }
.dos{
	background-color: #58FAF4
}
.dos a{color:#58FAF4 }
.tres{
	background-color: #F7BE81
}
.tres a{color: #F7BE81}
.cuatro{
	background-color: #F5A9A9;
	height: 60px
}
.cuatro a{color:#F5A9A9 }

a{width: inherit;
height: inherit;
margin-top: 20px;
display: table-cell;
text-decoration: none;
}

a:hover{
	background-color: black;
	transition:all 1s ease;
	position: relative;
	left: 100px;
	color: white }




